HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/test/java/io/github/cursospringjpa/libraryapi/repository/LivroRepositoryTest.java
src/test/java/io/github/cursospringjpa/libraryapi/repository/AutorRepositoryTest.java
src/test/java/io/github/cursospringjpa/libraryapi/repository/AutorRepositoryTest.java
src/test/java/io/github/cursospringjpa/libraryapi/repository/AutorRepositoryTest.java
